<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Request History</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <%- include('header') %>
    <div class="container">
        <h1>Request History</h1>
        <table>
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Request Type</th>
                    <th>Request Timestamp</th>
                    <th>Outcome</th>
                </tr>
            </thead>
            <tbody>
                <% requestHistory.forEach(history => { %>
                    <tr>
                        <td><%= history.username %></td>
                        <td><%= history.requestType %></td>
                        <td><%= history.requestTimestamp %></td>
                        <td><%= history.outcome %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
    <footer class="footer">
        © Arman - SE-2206
    </footer>
</body>
</html>
