<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" href="/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <%- include('header') %>
    <div class="container">
        <h1>Welcome, <%= username %></h1>
        <form action="/main" method="post">
            <input type="text" name="city" placeholder="Enter City" required>
            <button type="submit">Get Weather</button>
        </form>
        <% if (weatherData) { %>
            <div class="weather-info">
                <p>City: <%= weatherData.city %></p>
                <p>Temperature: <%= weatherData.temperature %>°C</p>
                <p>Feels Like: <%= weatherData.feelsLike %>°C</p>
                <p>Description: <%= weatherData.description %></p>
                <p>Icon: <img src="https://openweathermap.org/img/wn/<%= weatherData.icon %>.png" alt="Weather Icon"></p>
                <p>Humidity: <%= weatherData.humidity %></p>
                <p>Pressure: <%= weatherData.pressure %></p>
                <p>Wind Speed: <%= weatherData.windSpeed %></p>
                <p>Country Code: <%= weatherData.countryCode %></p>
                <p>Rain Volume: <%= weatherData.rainVolume %></p>
                <p>Timezone: <%= weatherData.timezone %></p>
            </div>
            <h2>City Information</h2>
            <div class="city-info">
                <p>Population: <%= weatherData.population %></p>
                <p>Is Capital: <%= weatherData.isCapital ? 'Yes' : 'No' %></p>
            </div>
            <h2>Currency Information</h2>
            <div class="currency-info">
                <% if (weatherData.currency) { %>
                    <p>Currency: <%= weatherData.currency.name %> (<%= weatherData.currency.code %>) - <%= weatherData.currency.symbol %></p>
                <% } else { %>
                    <p>No currency information available.</p>
                <% } %>
                <form action="/downloadPDF" method="POST">
                    <input type="hidden" name="weatherData" value='<%- JSON.stringify(weatherData) %>'>
                    <input type="hidden" name="population" value="<%= weatherData.population %>">
                    <button type="submit">Download as PDF</button>
                </form>
                
            </div>
            
        <% } else { %>
            <p>No weather data available.</p>
        <% } %>
    </div>
    <footer class="footer">
        © Arman - SE-2206
    </footer>
</body>
</html>
