<!DOCTYPE html>
<html lang="<%= lang %>">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= lang === 'en' ? 'Register' : 'Регистрация' %></title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <%- include('header') %>
    <div class="container">
        <h1><%= lang === 'en' ? 'Register' : 'Регистрация' %></h1>
        <form action="/register" method="post">
            <input type="text" name="name" placeholder="<%= lang === 'en' ? 'Name' : 'Имя' %>" required>
            <input type="text" name="username" placeholder="<%= lang === 'en' ? 'Username' : 'Никнейм' %>" required>
            <input type="password" name="password" placeholder="<%= lang === 'en' ? 'Password' : 'Пароль' %>" required>
            <button type="submit"><%= lang === 'en' ? 'Register' : 'Регистрация' %></button>
        </form>
        <p><%= lang === 'en' ? 'Already have an account?' : 'У вас уже есть аккаунт?' %> <a href="/"><%= lang === 'en' ? 'Login' : 'Вход' %></a></p>
    </div>
    <footer class="footer">
        © Arman - SE-2206
    </footer>
</body>
</html>
